* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #e14c08;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    font-style: italic;
}

a {
    text-decoration: none;
    font-weight: 700;
}

body {
	background-color: #e5e8e8;
	color: #4e545c;
	margin: 0;
	font-family: 'Quicksand';
}
body.dark-mode {
	background-color: #000401;
	color: #e5e8e8;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* border-bottom: 1px solid #FFF; */
    box-shadow: 1px 1px 10px 1px #FFF;
    /* border-bottom: 15px ridge #FFF */
    margin-bottom: 45px;
}

header ul {
    display: flex
}

header ul li {
    padding: 7px;
}

header ul li a {
    transition: 300ms;
}

header ul li a:hover {
    color: #c0a717;
    text-decoration: underline;
}

.container {
    text-align: center;
}


.container .name h1 {
    font-size: 50px;
}

.container .name h5 {
    font-size: 20px;
}

#arrow {
    font-size: 30px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
    #animation {
        transition: 300ms;
    }



.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.formacao {
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}



.form input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, #e14c08 50%, #e74f06 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #FFF;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-top: 20px;
    margin-left: -5px;
}

.form button:hover {
    background-position: left bottom;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%; 
    }
}

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }
    
    .container .name h5 {
        font-size: 15px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }
}


button {
	border-radius: 40px;
	font-size: 1.0rem;
	height: 30px;
	width: 110px;
	border: none;
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
}

button:hover {
	background-color: #000401;
}

button.dark-mode {
	background-color: #e5e8e8;
	color: #4e545c;
}

button.dark-mode:hover {
	background-color: #4e545c;
	color: #e5e8e8;
}